MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/reparaya?retryWrites=true&w=majority
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=reparaya
UPSTASH_KAFKA_BOOTSTRAP=tu-cluster.upstash.io:9092
UPSTASH_KAFKA_USER=tu_usuario_upstash
UPSTASH_KAFKA_PASS=tu_password_upstash
MAVEN_SETTINGS_PATH=~/.m2/settings.xml
